apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argocd-application-controller-extra
  labels:
    app.kubernetes.io/name: argocd-application-controller
    app.kubernetes.io/part-of: argocd
rules:
  # 游댠 Enged칠lyezz칲k az ArgoCD-nek, hogy m치s Application objektumokat m칩dos칤tson
  - apiGroups:
      - argoproj.io
    resources:
      - applications
    verbs:
      - get
      - list
      - watch
      - update      # <-- EZ hi치nyzott
      - patch       # <-- EZ hi치nyzott
